# Node modules
node_modules/

# Environment variables
.env*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
.pnp/
.pnp.js

# Production build
dist/

# Local configuration
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
